/target

# Rust
**/target/

# 前端
crates/gamemacro-gui/node_modules/
crates/gamemacro-gui/dist/
crates/gamemacro-gui/src-tauri/gen/
crates/gamemacro-gui/src-tauri/target/

# 构建产物
*.crash.log
gamemacro-gui.crash.log
